<div class="popup popup-order">
    <div class="popup-close">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#BEBEBE" stroke-linecap="round"/>
            <line x1="13.9236" y1="2.62971" x2="1.90277" y2="14.6505" stroke="#BEBEBE" stroke-linecap="round"/>
        </svg>
    </div>
    <div class="popup-title">Закажите бесплатную консультацию!</div>
    <div class="popup-inputs">
        <input class="popup-input" type="text" placeholder="Ваше имя">
        <input class="popup-input" type="text" placeholder="Ваш номер телефона">
    </div>
    <button class="btn popup-btn">Заказать консультацию</button>

</div>