*,
*:before,
*:after {
  box-sizing: inherit;
}


a:link {
  color: inherit;
  text-decoration: none; 
}

/* Стиль для посещенных ссылок */
a:visited {
  color: inherit;
  text-decoration: none; 
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #071739;
}

a:visited {
  color: #071739;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  // padding: 0 20px;
}

input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $blue-text-color;
  border-radius: 3px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #a8aba7;
}

.btn {
  text-align: center;
  background: #709fdc;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  color: white;

  &.button-transparent {
    background-color: transparent;
    border: 1px solid #6cac72;
  }

  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 16px;
    }
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

  &.button-in-cart span {
    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }

  &:hover {
    &.button-in-cart span {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $grey-text-color;
  }
}

.corousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  .corousel-title {
    // @include head-lora-32;
  }

  .corousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      cursor: pointer;

      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

// радиокнопки
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ddd;
  border-radius: 100%;
  background: #fff;
  box-sizing: border-box;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #2a592e;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #6cac72;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  position: relative;
  margin-top: -30px !important;
  z-index: 1;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}
.owl-theme .owl-dots .owl-dot span {
    border: 1px solid #FFFFFF;
    background: transparent;
}



.mat-dialog-container {
  background: #fff;
}

// стили для детальной инфо о статье
.detail-body-text {
  font-size: 14px;
  margin-bottom: 60px;
  h1, h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: $blue-text-color;
      margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}
.articles-content {
  .article-card {
      margin-bottom: 60px;
  }
}