@import '../../../../assets/styles/auth';
@import '../../../../assets/styles/_variables';

.signup {
    margin-top: 123px;
    margin-bottom: 148px;

    .auth-checkbox {
       
        width: 422px;

        a {
            cursor: pointer;
            color: $blue-text-color;
        }
    }
}